
.loaderWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.canvas {
  max-width: 300px;
  max-height: 300px;
}

.text {
  color: #495057;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-top: 5px;
  letter-spacing: 2px;
  font-size: 1rem;
  height: 1.2rem;
  position: relative;
}

.text::after {
  content: '|';
  display: inline-block;
  margin-left: 2px;
  animation: blink 0.7s infinite;
}

@keyframes blink {

  0%,
  49% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}