.mantis-button {
  height: 36px;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color var(--transition-standard),
              box-shadow var(--transition-standard),
              border-color var(--transition-standard);
  box-shadow: var(--shadow-elevation-3);
  align-self: flex-start;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.mantis-button-primary {
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);
}

.mantis-button-primary:hover:not(:disabled) {
  background-color: var(--color-primary-hover);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
              0px 4px 5px 0px rgba(0, 0, 0, 0.14),
              0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.mantis-button-primary:active:not(:disabled) {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
              0px 8px 10px 1px rgba(0, 0, 0, 0.14),
              0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.mantis-button:disabled {
  background-color: var(--color-action-disabled);
  color: var(--color-action-disabled-text);
  box-shadow: none;
  cursor: default;
}

@media (prefers-color-scheme: dark) {
  .mantis-button-primary {
    background-color: var(--color-primary-dark);
    color: var(--color-primary-contrast-dark);
  }
  
  .mantis-button-primary:hover:not(:disabled) {
    background-color: var(--color-primary-hover-dark);
  }
  
  .mantis-button:disabled {
    background-color: var(--color-action-disabled-dark);
    color: var(--color-action-disabled-text-dark);
  }
}
